
<div class="about">
  <div class="about__description">
    <h2>InnovateU</h2>
    <h3>Colaboramos estrechamente con JustMKT para ofrecer cursos de marketing, desarrollo web y diseño. Aprende nuevas habilidades sin descuidar tu negocio. Ideales para dueños de negocios que buscan actualizarse, así como para el público en general.</h3>
    <button class="primary__button">Academy</button>
  </div>
  <div class="about__image--innovate">
    <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/innovateU.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2lubm92YXRlVS5wbmciLCJpYXQiOjE3MDA0MzA3NzUsImV4cCI6MTczMTk2Njc3NX0.N81QvWzAUD2RxHLCffj5IODlHbIPUYgo8nBdPiSozGE&t=2023-11-19T21%3A52%3A55.906Z" alt="">
  </div>
</div>

<style>

 .about {
  display: flex;
  background-color: #fff;
 }

  .about__description {
    padding: 10vh 4vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 50%;
  }

  .about__description h2 {
    margin-bottom: 5vh;
    font-size: 36px;
  }

  .about__description h3 {
    margin-bottom: 5vh;
    font-weight: 400;
  }

  .about__description ul {
    padding-left: 5vw;
    margin-bottom: 10vh;
  }

  .about__image--innovate {
    padding: 10vh 4vw;
    height: auto;
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  .about__image--innovate img {
    width: 559px;
    height: auto;
  }

  @media (max-width: 1115px) {
    .about {
      flex-direction: column;
      align-items: center;
    }
    .about__description {
      width: 100%;
    }
    .about__image--innovate {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    .about__image--innovate img {
    width: 400px;
  }
  }

  @media (max-width: 500px)  {

    .about {
      padding: 0vh 10vw;
    }

    .about__image--innovate img {
    width: 340px;
  }
  }


</style>