<div class="clients">
  <h2>Confian en Nosotros:</h2>
  <div class="clients__brands">
    <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/inbursa-just.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2luYnVyc2EtanVzdC5wbmciLCJpYXQiOjE3MDA0NTE0OTIsImV4cCI6MTczMTk4NzQ5Mn0.wZl2gzVn8SlStf6QU31XDJKVweipF-xcsZEo0vJI2L8&t=2023-11-20T03%3A38%3A12.479Z" alt="">
    <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/infinutum.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2luZmludXR1bS5wbmciLCJpYXQiOjE3MDA0NTIwODQsImV4cCI6MTczMTk4ODA4NH0.r4duhVThwcwQwg9zaVsC2PxQHa1hCTgDvohO2_3w0ho&t=2023-11-20T03%3A48%3A04.409Z" alt="">
    <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/kc.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2tjLnBuZyIsImlhdCI6MTcwMDQ1MTU4MCwiZXhwIjoxNzMxOTg3NTgwfQ.ZGFHu4am49ahAScTjAZpQ5lTzOt5m1quw_eb-yJFX1U&t=2023-11-20T03%3A39%3A40.611Z" alt="">
    <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/canacintra.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2NhbmFjaW50cmEucG5nIiwiaWF0IjoxNzAwNDUxNjQ0LCJleHAiOjE3MzE5ODc2NDR9.T2JorJD6G-LwsxLh_ybCwiTqEEMM2RbkjrtJZ3MuoVo&t=2023-11-20T03%3A40%3A44.494Z" alt="">
  </div>
</div>


<style>
  .clients {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .clients  h2 {
    margin-bottom: 10vh;
    margin-top: 10vh;
  }

  .clients__brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0vh 4vw;
    background-color: #F5F6F7;
  }

  .clients__brands img {
    width: 150px;
    
  }

  @media (max-width: 800px) {
    .clients__brands {
      flex-direction: column;
      padding: 5vh 0vw;
      gap: 5vh;
    }
  }


</style>