<div class="footer">
  <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/logo-2-just.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2xvZ28tMi1qdXN0LnN2ZyIsImlhdCI6MTcwMDQzNTE3NywiZXhwIjoxNzMxOTcxMTc3fQ.mR5bkWoXGM_YOJGiS80n_L-cUta7NUcSQm53mskSudU&t=2023-11-19T23%3A06%3A17.638Z" alt="">
  <p>
    © Copyrigth 2023 JustMKT
  </p>
  <p>
    Powered by JustMKT | Mexico
  </p>
  <p>
    Reynosa, Tamaulipas,MX.
  </p>
</div>

<style>
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 4vw;
    background-color: #000;
    color: #fff;
  }

  @media (max-width: 800px){
    .footer {
      flex-direction: column-reverse;
    }
  }

  @media (max-width: 500px){
    .footer {
      gap: 5vh;
    }
  }
</style>