

<div class="hero">
    <h1 class="hero__title">
      TRANSFORMAMOS TU NEGOCIO 
      <br>
      CON ESTRATEGIAS DIGITALES
    </h1>
    <div class="hero__button">
      <h3>Comenzar ahora</h3>
      <button>></button>
    </div>
    <div class="hero__cards">
      <a href="/web-developer">
        <div class="hero__card">
          <div class="hero__card__title">
            <h3>Proyectos:</h3>
            <h2>Studio Web</h2>
          </div>
          <div class="hero__card__image"></div>
      </div>
      </a>
      <a href="#">
        <div class="hero__card--blue">
          <div class="hero__card__title">
            <h3>Proyectos:</h3>
            <h2>Logofolio</h2>
          </div>
          <div class="hero__card__image--logos"></div>
      </div>
      </a>
      <a href="#">
        <div class="hero__card--ciel">
          <div class="hero__card__title">
            <h3>Proyectos:</h3>
            <h2>Design Thinking</h2>
          </div>
          <div class="hero__card__image--thinking"></div>
      </div>
      </a>
      <a href="#">
        <div class="hero__card">
          <div class="hero__card__title">
            <h3>Proyectos:</h3>
            <h2>Social Media</h2>
          </div>
          <div class="hero__card__image--social"></div>
      </div>
      </a>
    </div>
</div>


<style>

.hero {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  height: auto;
  background-image: url("https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/just-1980.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2p1c3QtMTk4MC5wbmciLCJpYXQiOjE3MDAwODk5OTQsImV4cCI6MTczMTYyNTk5NH0.X7bYGaxhMJuspBFvqK4lwEMcIcwWvmHY0jEhCKjuw5Y&t=2023-11-15T23%3A13%3A14.187Z");
  background-size: cover;
}

.hero__title {
  font-weight: 800;
  text-align: center;
  font-size: 56px;
  color: #ffffff;
  padding: 15vh 15vw 2vh 15vw;
}

.hero__button {
  margin-top: 2vh;
  margin-bottom: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #ffffff;
  align-items: center;
}

.hero__button button {
  background-color: #00B4EC;
  border: none;
  padding: 2px 8px;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  margin-left: 1vw;
}

.hero__cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0vh 4vw;
  flex-wrap: wrap;
}


.hero__cards a {
  text-decoration: none;
  color: black;
}

.hero__card {
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-top: 10px;
}

.hero__card--blue {
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #000041;
  padding-top: 10px;
  color: #fff;
}

.hero__card--ciel {
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #00B4EC;
  padding-top: 10px;
  color: #fff;
}

.hero__card__title {
  height: 40%;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.hero__card__title h3 {
  font-weight: 400;
}


.hero__card__image {
  height: 60%;
  background-image: url("https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/Ia-Justmkt.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L0lhLUp1c3Rta3QucG5nIiwiaWF0IjoxNzAwMDg3NTc1LCJleHAiOjE3MzE2MjM1NzV9.llkSFjEBgdVJQQxMO3N0lMBkisi5AUjhkcUcKDr71YQ&t=2023-11-15T22%3A32%3A55.517Z");
}

.hero__card__image--logos {
  height: 60%;
  background-image: url("https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/logofolio-justmkt.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2xvZ29mb2xpby1qdXN0bWt0LnBuZyIsImlhdCI6MTcwMDA4OTI1MCwiZXhwIjoxNzMxNjI1MjUwfQ.078Cwu5wMFuWM7928-QioVQgrRxxnnQ132aIrIApkis&t=2023-11-15T23%3A00%3A50.959Z");
  background-size: cover;
}

.hero__card__image--thinking {
  height: 60%;
  background-image: url("https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/just-desingthinking.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2p1c3QtZGVzaW5ndGhpbmtpbmcucG5nIiwiaWF0IjoxNzAwMDkwMzM1LCJleHAiOjE3MzE2MjYzMzV9.CZm6Ixjz9dIvPOmGj-4rS1xWaRT0V7NaQ7RZrQVoHKM&t=2023-11-15T23%3A18%3A55.490Z");
  background-size: cover;
}

.hero__card__image--social {
  height: 60%;
  background-image: url("https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/social-justmkt.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L3NvY2lhbC1qdXN0bWt0LnBuZyIsImlhdCI6MTcwMDA5MDQ3NSwiZXhwIjoxNzMxNjI2NDc1fQ.7jwNX9ObOHTIrhpfPs_uZj_eMv0BQgEIPazTVSmG4uo&t=2023-11-15T23%3A21%3A15.515Z");
  background-size: cover;
}

@media (max-width: 800px) {
  .hero__title {
    padding: 5vh 4vw;
    font-size: 32px;
  }

  .hero__cards {
    flex-direction: row;
    gap: 3vw;
  }

  .hero__card {
    width: 190px;
    height: 300px;
  }

  .hero__card--ciel {
    width: 190px;
    height: 300px;
  }

  .hero__card--blue {
    width: 190px;
    height: 300px;
  }

}

@media (max-width: 500px) {
  .hero__cards {
    align-items: center;
    justify-content: center;
  }

  .hero__card {
    width: 150px;
    height: 200px;
  }

  .hero__card--ciel {
    width: 150px;
    height: 200px;
  }

  .hero__card--blue {
    width: 150px;
    height: 200px;
  }

  .hero__card__title h3{
    font-size: 14px;
  }

  .hero__card__title h2 {
    font-size: 14px;
  }

}

</style>