
<div class="services">
  <h2>El corazón de nuestro estudio</h2>
  <div class="services__content">
    <div class="services__card--video">
      <h3>Video Edición</h3>
    </div>
    <div class="services__card--marketing">
      <h3>Marketing Digital</h3>
    </div>
    <div class="services__card--branding">
      <h3>Branding</h3>
    </div>
    <div class="services__card--web">
      <h3>Desarrollo Web</h3>
    </div>
  </div>
</div>


<style>
  .services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/bg-green-layout.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2JnLWdyZWVuLWxheW91dC5wbmciLCJpYXQiOjE3MDA0Mjk1MjcsImV4cCI6MTczMTk2NTUyN30.z5xx9VMyfc_TPS5NwSF9TpMN8Ak7ULtREzO5-4EArNQ&t=2023-11-19T21%3A32%3A08.042Z");
    background-size: cover;
    height: auto;
  }

  .services h2 {
    margin-bottom: 10vh;
  }

  .services__content {
    display: flex;
    width: 60%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3vw;
  }

  .services__card--video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 200px;
    box-shadow: 0 1px 3px #00000029;
    background-image: url("https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/bg1-red.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2JnMS1yZWQucG5nIiwiaWF0IjoxNzAwNDI5NTU1LCJleHAiOjE3MzE5NjU1NTV9.uTS-bOjT_Bb_5wB-B5uRtoS-1Cwjck7z8VxmldxeB4E&t=2023-11-19T21%3A32%3A35.142Z");
  }

  .services__card--video:hover {
    opacity: 0.8;
  }

  .services__card--marketing {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 200px;
    box-shadow: 0 1px 3px #00000029;
    background-image: url("https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/bg-mk.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2JnLW1rLnBuZyIsImlhdCI6MTcwMDQyOTc1OSwiZXhwIjoxNzMxOTY1NzU5fQ.AsjFTCUfYaMzZifB_cBJX6fXEmSGi4cTr5ay3q3zxEA&t=2023-11-19T21%3A35%3A59.675Z");
  }

  .services__card--marketing:hover {
    opacity: 0.8;
  }

  .services__card--branding {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 200px;
    box-shadow: 0 1px 3px #00000029;
    background-image: url("https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/bg-branding.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2JnLWJyYW5kaW5nLnBuZyIsImlhdCI6MTcwMDQyOTk3NSwiZXhwIjoxNzMxOTY1OTc1fQ.tShCB4HGCBODEkLe1stw2MlYvBJ49DUZ_KnXHfHM__Y&t=2023-11-19T21%3A39%3A35.741Z");
  }

  .services__card--branding:hover {
    opacity: 0.8;
  }

  .services__card--web {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 200px;
    box-shadow: 0 1px 3px #00000029;
    background-image: url("https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/bg-web.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2JnLXdlYi5wbmciLCJpYXQiOjE3MDA0MzAxNTksImV4cCI6MTczMTk2NjE1OX0.vF0k3pZ5S5zNMDH1nTrNQmrVkqmZwXtW7VqNTfSXDrk&t=2023-11-19T21%3A42%3A39.347Z");
  }

  .services__card--web:hover {
    opacity: 0.8;
  }

  .services {
    flex-direction: column;
  }

</style>