<div class="stack">
  <h2>Tecnologias:</h2>
  <div class="stack__icons">
    <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/bostrap.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2Jvc3RyYXAucG5nIiwiaWF0IjoxNzAwNDU5MzgyLCJleHAiOjE3MzE5OTUzODJ9.hyTOgNM7cYctoPjuFHDpOyZz5aeNmkUg5rJQqb9Nhkw&t=2023-11-20T05%3A49%3A43.073Z" alt="">
    <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/figma.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2ZpZ21hLnBuZyIsImlhdCI6MTcwMDQ1OTQ1MSwiZXhwIjoxNzMxOTk1NDUxfQ.SR7NwF0IEBIYeEgCliqWQbxU3izw0RxcMHFbRL6RPo8&t=2023-11-20T05%3A50%3A51.473Z" alt="">
    <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/css.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2Nzcy5wbmciLCJpYXQiOjE3MDA0NTk0OTgsImV4cCI6MTczMTk5NTQ5OH0.Yi7qR0c5m70BUIucFPj7ArJP2p_y8UlqKsGfQKRuo9w&t=2023-11-20T05%3A51%3A38.992Z" alt="">
    <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/html.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2h0bWwucG5nIiwiaWF0IjoxNzAwNDU5NTU2LCJleHAiOjE3MzE5OTU1NTZ9.OHNqh7d-wClQQV3SfjgB5IvSJsOqSirSHg1klCaJUj8&t=2023-11-20T05%3A52%3A36.640Z" alt="">
    <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/sass.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L3Nhc3MucG5nIiwiaWF0IjoxNzAwNDU5NjE5LCJleHAiOjE3MzE5OTU2MTl9.n7AUo5sEPwi3k2NaJgeIgvigMT42GNT8gWAL_QqkkaE&t=2023-11-20T05%3A53%3A39.515Z" alt="">
    <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/astro.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2FzdHJvLnBuZyIsImlhdCI6MTcwMDQ1OTY2MCwiZXhwIjoxNzMxOTk1NjYwfQ.F8dik1RA_lzzk3_xucPsXozEj-IwwpYsnHnUXcWRqnM&t=2023-11-20T05%3A54%3A20.884Z" alt="">
    <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/react.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L3JlYWN0LnBuZyIsImlhdCI6MTcwMDQ1OTcxNCwiZXhwIjoxNzMxOTk1NzE0fQ.iSenVwVSxaHlWeNQqdY6n27tVmQ9CqgKx5kZfpkyd74&t=2023-11-20T05%3A55%3A15.159Z" alt="">
    <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/next.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L25leHQucG5nIiwiaWF0IjoxNzAwNDU5Nzk5LCJleHAiOjE3MzE5OTU3OTl9.WvAa8FfFoZsx5LOYyng878CPf78UqlVwD2-kvmDUvaU&t=2023-11-20T05%3A56%3A40.045Z" alt="">
    <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/word.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L3dvcmQucG5nIiwiaWF0IjoxNzAwNDU5ODY3LCJleHAiOjE3MzE5OTU4Njd9.1LJF8QK9uu3dlsPTrAA-VNeTn3c0dWys4vbL6Dy6pls&t=2023-11-20T05%3A57%3A47.734Z" alt="">
  </div>
</div>

<style>
  .stack {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: #fff;
    height: 40vh;
    padding: 0vh 4vw;
  }

  .stack h2 {
    margin-bottom: 10vh;
  }

  .stack__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .stack__icons img {
    width: 80px;
  }

  .stack__icons img:hover {
    opacity: 0.80;
  }

</style>