---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/React/Navbar';
import Footer from '../components/Astro/Footer.astro';
import Form from '../components/React/Form';
import NavbarMobile from '../components/React/NavbarMobile';
---

<Layout title="web-developer">
	<main>
    <Navbar/>
    <NavbarMobile client:load/>
    <Form/>
    <Footer/>
	</main>
</Layout>
