---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/React/Navbar.jsx';
import Developstack from '../components/Astro/Stack.astro';
import CallAction from '../components/Astro/CallAction.astro';
import Clients from '../components/Astro/Clients.astro';
import Footer from '../components/Astro/Footer.astro';
import Form from '../components/React/Form.jsx';
import NavbarMobile from '../components/React/NavbarMobile.jsx';
import ListCase from '../components/React/ListCases.jsx';
---

<Layout title="casos-de-estudio">
	<main>
    <Navbar/>
    <NavbarMobile client:load/>
    <div id="video-container">
      <video id="video-background" autoplay loop muted>
        <!-- Ruta del video -->
        <source src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/code.mp4?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2NvZGUubXA0IiwiaWF0IjoxNzAwNTk4MTQ1LCJleHAiOjE3MzIxMzQxNDV9.QPqVPKZQ8hYF_HdaRZDYXorT_DlwmFnZ5X5HI7qR5d4&t=2023-11-21T20%3A22%3A26.019Z" type="video/mp4">
          Tu navegador no soporta el tag de video.
      </video>
      <div id="gradient-overlay"></div>
      <div id="content">
        <h1>Proyectos</h1>
      </div>
    </div>
    <Developstack/>
		<ListCase client:load/>
    <Clients/>
    <CallAction/>
    <Form/>
    <Footer/>
	</main>
</Layout>

<style>
  #video-container {
             position: relative;
             width: 100%;
             height: 65vh;
             overflow: hidden;
             z-index: -1;
             
         }
 
         #video-background {
             width: 100%;
             height: 100%;
             object-fit: cover;
             position: absolute;
             top: 0;
             left: 0;
             mix-blend-mode: soft-light; /* Filtro soft light */
         }
 
         #gradient-overlay {
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             background: linear-gradient(to bottom right, rgba(54, 195, 162, 1), rgba(222, 230, 59, 1));
             opacity: 0.70;
         }
 
         #content {
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             text-align: center;
             color: #fff;
         }
 </style>