---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/React/Navbar';
import AboutUs from '../components/Astro/AboutUs.astro';
import CallAction from '../components/Astro/CallAction.astro';
import Clients from '../components/Astro/Clients.astro';
import Footer from '../components/Astro/Footer.astro';
import Form from '../components/React/Form';
import NavbarMobile from '../components/React/NavbarMobile';
---

<Layout title="web-developer">
	<main>
    <Navbar/>
    <NavbarMobile client:load/>
    <div id="video-container">
      <video id="video-background" autoplay loop muted>
          <!-- Ruta del video -->
          <source src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/code.mp4?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2NvZGUubXA0IiwiaWF0IjoxNzAwNTk4MTQ1LCJleHAiOjE3MzIxMzQxNDV9.QPqVPKZQ8hYF_HdaRZDYXorT_DlwmFnZ5X5HI7qR5d4&t=2023-11-21T20%3A22%3A26.019Z" type="video/mp4">
          Tu navegador no soporta el tag de video.
      </video>
      <div id="gradient-overlay"></div>
      <div id="content">
          <h1>Sobre Nosotros</h1>
      </div>
    </div>
    <div class="about-us">
        <h2>Acerca de Nosotros</h2>
        <p>Somos una empresa comprometida con la calidad y la excelencia...</p>
    </div>
    <div class="timeline">
        <h2>Nuestra Historia</h2>
        <div class="event">
          <div class="date">2017</div>
          <div class="description">Comenzamos nuestro viaje...</div>
        </div>
        <div class="event">
          <div class="date">2019</div>
          <div class="description">Logramos un hito importante...</div>
        </div>
        <!-- Agrega más eventos según sea necesario -->
      </div>
      <div class="team">
        <h2>Nuestro Equipo</h2>
        <div class="member">
          <div class="photo">
            <img src="miembro1.jpg" alt="Miembro 1">
          </div>
          <div class="name">Nombre Miembro 1</div>
        </div>
        <div class="member">
          <div class="photo">
            <img src="miembro2.jpg" alt="Miembro 2">
          </div>
          <div class="name">Nombre Miembro 2</div>
        </div>
        <!-- Agrega más miembros según sea necesario -->
      </div>
    <Form/>
    <Footer/>
	</main>
</Layout>

<style>
 #video-container {
            position: relative;
            width: 100%;
            height: 65vh;
            overflow: hidden;
            z-index: -1;
            
        }

        #video-background {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            mix-blend-mode: soft-light; /* Filtro soft light */
        }

        #gradient-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom right, rgba(54, 195, 162, 1), rgba(222, 230, 59, 1));
            opacity: 0.70;
        }

        #content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #fff;
        }

        .about-us, .timeline, .team {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #333;
}

p {
  color: #555;
}

.timeline {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}

.event {
  margin-bottom: 20px;
}

.date {
  font-weight: bold;
  margin-bottom: 5px;
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.member {
  flex: 1 1 300px;
  margin: 10px;
  text-align: center;
}

.photo img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}
</style>