:root {
  --color-white: #ffffff;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 2vh 4vw;
	background-color: var(--color-white);
	align-items: center;
	position: fixed;
	width: 100vw;
	box-shadow: 0 1px 3px #00000029;
}

.navbar__logo img {
	width: 150px;
}

.navbar__links--a {
		margin-right: 4vw;
		color: #000;
		text-decoration: none;
}



.primary__button {
	background: linear-gradient(to right, #87BD27, #DEE63B);
  color: white; /* Color del texto, puedes ajustarlo según sea necesario */
  padding: 8px 20px; /* Ajusta el relleno según sea necesario */
  border: none;
  border-radius: 5px; /* Ajusta el radio de borde según sea necesario */
  cursor: pointer;
}

@media (max-width:1030px) {
  .navbar {
    display: none;
  }
}


@media (max-width:500px) {
	.primary__button {
		background: linear-gradient(to right, #87BD27, #DEE63B);
		color: white; /* Color del texto, puedes ajustarlo según sea necesario */
		padding: 10px 20px; /* Ajusta el relleno según sea necesario */
		border: none;
		border-radius: 5px; /* Ajusta el radio de borde según sea necesario */
		cursor: pointer;
		font-size: 18px;
	}
	
}